
#loginview {
    padding: .8em;
    background-color: #ccc;
}

.x-button-label {
    padding: 0 0 .1em 0;
}
#btnSignup {
    width: 5em;       
}

#btnLogin {
    width: 5em;       
}

#btnForgotPassword {
    width: 7em;       
}

